.hinter {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  opacity: 0.9;
  border-radius: 3px;
  pointer-events: auto;
  padding: 12px 14px;
  color: #ffffff;
  z-index: 9999;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.22);
}
.hinter:hover {
  opacity: 1;
}
.hinter * {
  box-sizing: border-box;
}
.hinter .hinter-icon {
  font-size: 2em;
  color: inherit;
}
.hinter .hinter-body {
  margin: 0;
  padding: 0 14px;
}
.hinter .hinter-title {
  margin: 0 0 2px 0;
  font-size: 1rem;  
}
.hinter .hinter-text {
  margin: 0;
  font-size: .9rem;
}
.hinter .hinter-close {
  position: absolute;
  top: 14px;
  right: 10px;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
  color: inherit;
  cursor: pointer;
  outline: none;
  background: transparent;
}
.hinter-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(0, 0, 0, 0.22);
}
.hinter .hinter-close:hover {
  opacity: 0.4;
}
.hinter.top-right {
  top: 12px;
  right: 12px;
}
.hinter.top-mid {
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
}
.hinter.top-left {
  top: 12px;
  left: 12px;
}
.hinter.bottom-right {
  bottom: 12px;
  right: 12px;
}
.hinter.bottom-mid {
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
}
.hinter.bottom-left {
  bottom: 12px;
  left: 12px;
}
.hinter.mid-right {
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}
.hinter.mid-left {
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.hinter.mid-mid {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hinter.log {
  color: #333333;
  background: #fffffc;
}
.hinter.info {
  background: #2ca9e1;
}
.hinter.warn {
  background: #f89406;
}
.hinter.error {
  background: #e9546b;
}
.hinter.success {
  background: #38b48b;
}
