*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --primary: #626EEF;
  --secondary: #09A8FA;
  --lightGreen: #41C5D3;
  --lightYellow: #FFFA9D;
  --background: #f2f2f2;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: system-ui;
  background: var(--background);
}

nav {}

header {
  padding: 4.5em 2em;
  background: var(--primary);
  & .title {
    font-size: 4em;
  }
}

main {}

footer {}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  width: 95%;
  max-width: 1000px;
}