*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  /* background: 
  linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
  background-blend-mode: multiply,multiply; */
  background: #f2f2f2;
}

nav {}

header {
  padding: 4.5em 2em;
  background: #FFDD67;
}

main {}

footer {}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  width: 95%;
  max-width: 1000px;
}