*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --primary: #626EEF;
  --secondary: #09A8FA;
  --lightGreen: #41C5D3;
  --lightYellow: #FFFA9D;
  --background: #f8fafe;
  --white: #ffffff;
  --log: #fffffc;
  --info: #2ca9e1;
  --success: #38b48b;
  --warn: #f89406;
  --error: #e9546b;
  --black: #333333;
  --fontSize: 10px;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: system-ui;
  background: var(--background);
}

nav {}

header {
  padding: 4.5em 2em;
  background: var(--primary);
  & .title {
    font-size: 5em;
    text-align: center;
    color: var(--white);
  }
  & .sub-title {
    font-size: calc(var(--fontSize) * 2);
    text-align: center;
    color: var(--white);
  }
}

main {
  padding: 40px 0;
}

footer {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  & .btn {
    width: 240px;
    padding: 14px 24px;
    font-size: 1.4rem;
    border: none;
    margin: 0 12px;
    cursor: pointer;
    outline: none;
    color: var(--white);
    transition: all .2s ease;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  }
  & .btn:hover {
    transform: translateY(-4px);
  }
  & .btn[data-type=text] {
    background: rgba(0, 0, 0, 2);
  }
  & .btn[data-type=log] {
    color: var(--black);
    background: var(--log);
  }
  & .btn[data-type=info] {
    background: var(--info);
  }
  & .btn[data-type=success] {
    background: var(--success);
  }
  & .btn[data-type=warn] {
    background: var(--warn);
  }
  & .btn[data-type=error] {
    background: var(--error);
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  width: 95%;
  max-width: 1024px;
}